<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/vidist/home">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/vidist/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Find</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sell" href="/vidist/sell">
      <ion-icon aria-hidden="true" name="create"></ion-icon>
      <ion-label>Sell</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics" href="/vidist/analytics">
      <ion-icon aria-hidden="true" name="analytics"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/vidist/settings">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>You</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
